.parcel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid black 0.5px;
  background-color: #e7ecff;
}

.parcel-info {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  flex: 1;
}
