.wrapper-customerview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-menu {
  width: 20%;
}

.my-profile-backbutton {
  width: 15%;
}
.my-profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-title-string {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 2rem;
}

.profile-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.profile-info-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  width: 100%;
}

.customer-menu {
  width: 20%;
}

.customer-parcels {
  display: flex;
  width: 80%;
}

.customer-parcels-filter {
  width: 50%;
}

.customer-parcels-table {
  width: 60%;
  height: 60vh;
  overflow-y: auto;
}

.button-my-profile {
  margin-bottom: 0.5rem;
}

.customer-body-wrapper {
  display: flex;
  margin-left: 15rem;
  margin-top: 5rem;
}

.customer-header {
  border-bottom: 1px solid black;
}

.my-profile-body-wrapper {
  display: flex;
  margin-top: 5rem;
  margin-left: 20rem;
}

.my-profile-header {
  border-bottom: 1px solid black;
}

.profile-update-btn {
  background-color: transparent;
}

.buttons-customer {
  width: 7.7rem;
  margin-bottom: 0.5rem;
}

.button-locations {
  width: 7.7rem;
  margin-bottom: 0.5rem;
}

.no-results {
  font-size: 24px;
}
