.support-chat {
  width: 30%;
  /* width: 60vh; */
  border: 0.2rem solid black;
  height: 68vh;
  background-color: rgb(252, 252, 252);
  text-align: left;
  display: flex;
  flex-direction: column;
}

/* .send-message-button {
  margin-top: 0vh;
} */

.chat {
  overflow-y: auto;
  height: 50vh;
}

.customer-support-view {
  display: flex;
  margin-left: 5vh;
  margin-top: 3vh;
}

.questions-header {
  font-size: 2rem;
}

.frequently-asked-questions {
  margin-left: 7vh;
}

.chat-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.single-message {
  color: blue;
  font-size: 1.5rem;
}

.message-text {
  color: black;
}

.parcels {
  margin-right: 5vh;
  /* width: 154%;
  max-height: 0; */
  /* position: fixed; */
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
}

.support-options {
  display: flex;
  flex-direction: column;
  margin-right: 3vh;
}

.back-button {
  text-align: center;
}

.support-header {
  border-bottom: 1px solid black;
}

.chat-input {
  height: 10vh;
}

.wrapper-support-options {
  width: 71%;
  display: relative;
}

.frequently-questions:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.frequently-questions {
  max-width: fit-content;
  font-size: 18px;
  text-decoration: underline;
}
