.orders-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8.5rem;
}

.orders-description {
  width: 500px;
}

.customer-number {
  width: 6.2vw;
}

.order-number {
  width: 15px;
}
