.createParcelsInput {
  width: 40px;
}

.validation-success {
  background-color: none;
}

.validation-fail {
  background-color: red !important;
}

.main-div {
  width: 75%;
  margin-left: 7vw;
}

.shipment-dropdown-column {
  width: 30%;
}

.waiting-parcels-wrapper {
  min-width: 74vw;
}

.shipment-parcels-waiting {
  min-width: 61rem;
}

.waiting-parcels-div {
  overflow-y: auto;
  height: 27vh;
  width: 75.08vw;
}
