.results-and-incoming-parcels {
  overflow-y: auto;
  height: 60vh;
}

.search-engine {
  border: 1px solid black;
  background-color: rgb(231, 236, 255);
  display: flex;
  width: 49vw;
}
.email-all-fields {
  width: 30%;
}

.username-first-last-name {
  width: 30%;
}

.user-search-wrapper {
  margin-left: 15vh;
}

.username {
  width: 8.8vw;
}

.country-city {
  width: 10.8vw;
}
