.menu-button {
  width: 10rem;
  border: 1px double rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #0d6af4;
  color: white;
  font-weight: bold;
}

.parent {
  justify-content: center;
  flex-direction: column;
  height: 40rem;
}

.buttonContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: center;
}

.options-button {
  color: white;
  font-weight: bold;
  width: 9rem;
  background-color: #0d6af4;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
  font-size: 1rem;
}

.options-button-clicked {
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 9rem;
  background-color: #585c64;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
  font-size: 1rem;
}

.button-logout {
  width: 10rem;
  border: 1px double rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #0d6af4;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: center;
}
