.parcelsInfo {
  width: 300px;
  border: 1px double rgb(0, 0, 0);
  padding: 10px;
  margin: 20px;
  text-align: left;
}

.filtering {
  text-align: left;
  width: 15rem;
  margin-left: 10%;
}

.search {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: rgb(231, 236, 255);
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  background-color: rgb(231, 236, 255);
  table-layout: initial;
  border-collapse: collapse;
}
.results {
  justify-content: center;
  overflow-y: auto;
  height: 50vh;
}

.search-params-and-results {
  margin-left: 15vh;
  width: 70%;
}

.dropdown {
  margin-left: 5%;
  margin-bottom: 2%;
}

.input {
  height: 2%;
}

.username-search {
  margin-left: 20%;
}

.search-engine-div {
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.table-search {
  width: 100%;
}
