.logginwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  padding-top: 2vh;
}

.logintext-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 50%;
  margin-left: 50vh;
  margin-top: 4vh;
}

.register-body-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: 5.5vw;
}

.not-valid-input {
  background-color: #ffa3a3;
}

.invalid-credentials {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 23px;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
