.locate {
  position: absolute;
  background: none;
  border: none;
  z-index: 10;
}

.locate-test {
  margin-left: 54vh;
}

.map-view-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 1rem;
}

.map-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-view-page {
  margin-top: 1.8rem;
}

.map-outset {
  border-style: outset;
}

.button-map-view {
  width: 8%;
}

.text-map-view {
  width: 52%;
  font-size: 2.3rem;
  font-family: 'IM Fell English SC', serif;
}
