.main-view {
  display: flex;
  width: 75%;
}

.menu-wrapper {
  width: 10rem;
  display: flex;
}

.employee-view {
  display: flex;
  width: 100%;
}

.header-eview {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
