.warehouse-wrapper {
  width: 30vw;
  margin-left: 10rem;
  height: 65vh;
  overflow-y: auto;
}

.warehouse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid black 0.5px;
  background-color: #e7ecff;
}

.warehouse-info {
  font-weight: bold;
  text-align: left;
  width: 10%;
}

.warehouse-city {
  font-weight: bold;
  text-align: left;
  width: 20%;
}

.warehouse-street {
  width: 48%;
  font-weight: bold;
  text-align: left;
}

.warehouse-id {
  margin-left: 10px;
  font-weight: bold;
  text-align: left;
  width: 18%;
}

.warehouse-create-wrapper {
  display: flex;
  border: solid black 0.5px;
  background-color: #e7ecff;
  width: 25%;
  margin-top: 20px;
  height: fit-content;
  align-items: center;
  flex-direction: column;
}

.create-info-country {
  width: 20%;
}

.create-info-city {
  width: 25%;
}

.create-info-street {
  width: 50%;
  margin-left: 10px;
}

.create-warehousebtn {
  /* width: 20%; */
}

.create-form {
}

.warehouse-create-table {
  margin-left: 10rem;
  max-width: 51rem;
  min-width: 51rem;
}
