.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-main-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.body-main-wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-buttons {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin-right: 1rem;
}

.main-logo {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-info {
  margin-left: 1rem;
  word-wrap: break-word;
  max-width: 40rem;
  font-size: 1.6rem;
  font-family: 'IM Fell English SC', serif;
  width: 50%;
}

.main-google {
  max-width: 100vh;
  margin-left: 14vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  background-image: url(./logo.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 31.25rem;
  height: 7.5rem;
}

.logo-text {
  align-items: center;
  display: flex;
  width: 60%;
  font-family: 'Permanent Marker';
  font-size: 1.5rem;
}

.logo-delivery {
  font-family: 'Permanent Marker';
  font-size: 2.5rem;
}

.about-us {
  font-size: 1.5rem;
  font-weight: bold;
}
