.footer {
  color: #c7c8c9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-align: center;
  height: 3vh;
  background-color: #212529;
  /* position: absolute; */
}
