.shipment-search-results {
  overflow-y: auto;
  height: 65vh;
}

.shipment-search {
  border: 1px solid black;
  height: 3rem;
  background-color: rgb(231, 236, 255);
  text-align: center;
}

.inputs {
  margin-top: 0.5rem;
}

.search-condition-text {
  font-size: 1.2rem;
}

.shipments-search-wrapper {
  margin-left: 10rem;
}
