.small-columns {
  width: 123px;
}

.from-to-status {
  min-width: 102px;
}

.time-picker {
  width: 100px;
}

.buttons {
  min-width: 103px;
}

.form-subtitles {
  font-size: 18px;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}
